<div id="auth--layout">
  <div class="container">
    <div id="al--content-wrapper" class="content-wrapper">
      <div id="al--cw--box" class="row">
        <div id="al--cw--left-block">
          <div id="al--cw--welcome-banner">
            <div id="al--cw--wb--header">
              <div id="al--cw--wb--logo">
                <img src="../../../../../assets/imgs/logo/logo3.svg" alt="" />
              </div>
            </div>
            <div id="al--cw--wb--content">
              <!-- <div id="al--cw--wb--c--quote">
                <h3>The job that never starts takes the longest to finish</h3>
                <h4>J.R.R.Tolkien</h4>
              </div> -->
            </div>
            <div id="al--cw--wb--footer">
              <p>Made with <i class="las la-heart"></i> by Software Makers S.L.</p>
            </div>
          </div>
        </div>
        <div id="al--cw--right-block">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
