#navbar--component {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

#navbar--component>#nc--logo>#nc--logo--box {
  background-color: #0e78f9;
}

#navbar--component>#nc--logo>#nc--logo--box>span {
  top: 50%;
  left: 50%;
  font-family: 'Assistant', sans-serif;
  font-size: 24px;
  color: #fff;
  line-height: 1;
  transform: translate(-50%, -50%);
  position: absolute;
}

#navbar--component>#nc--main-menu {
  height: 100%;
  padding: 60px 0;
}

#navbar--component>#nc--main-menu>nav>ul>li:not(:last-of-type) {
  margin-bottom: 4px;
}

#navbar--component>#nc--logo>#nc--logo--box,
#navbar--component>#nc--main-menu>nav>ul>li>a,
#navbar--component>#nc--settings>button {
  width: 48px;
  height: 48px;
  border: 1px solid transparent;
  border-radius: 10px;
  display: block;
  cursor: pointer;
}

#navbar--component>#nc--main-menu>nav>ul>li>a.is-active,
#navbar--component>#nc--settings>button {
  border: 2px solid rgba(255, 255, 255, 0.03);
  background-color: rgba(255, 255, 255, 0.03);
}

#navbar--component>#nc--main-menu>nav>ul>li>a>i,
#navbar--component>#nc--settings>button>i {
  top: 50%;
  left: 50%;
  font-size: 24px;
  color: #71737c;
  transform: translate(-50%, -50%);
  transition: color 0.2s;
  position: absolute;
}

#navbar--component>#nc--main-menu>nav>ul>li>a.is-active>i,
#navbar--component>#nc--main-menu>nav>ul>li:hover>a>i,
#navbar--component>#nc--settings>button:hover>i {
  color: #fff;
}
